<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated packettracer -->
      <package
            uri="http://mit.bme.hu/mdsd/packettracer"
            class="hu.bme.mit.mdsd.packettracer.PackettracerPackage"
            genModel="model/packettracer.genmodel"/>
   </extension>

</plugin>
