<?xml version="1.0" encoding="UTF-8"?><plugin>
  <extension id="extension.derived.hu.bme.mit.mdsd.packettracer.queries.connection" point="org.eclipse.viatra.query.runtime.base.wellbehaving.derived.features">
    <wellbehaving-derived-feature classifier-name="Connector" feature-name="connection" package-nsUri="http://mit.bme.hu/mdsd/packettracer"/>
  </extension>
  <extension id="extension.derived.hu.bme.mit.mdsd.packettracer.queries.controller" point="org.eclipse.viatra.query.runtime.base.wellbehaving.derived.features">
    <wellbehaving-derived-feature classifier-name="Subnetwork" feature-name="controller" package-nsUri="http://mit.bme.hu/mdsd/packettracer"/>
  </extension>
  <extension id="extension.derived.hu.bme.mit.mdsd.packettracer.queries.subnetwork" point="org.eclipse.viatra.query.runtime.base.wellbehaving.derived.features">
    <wellbehaving-derived-feature classifier-name="NetworkInterface" feature-name="subnetwork" package-nsUri="http://mit.bme.hu/mdsd/packettracer"/>
  </extension>
  <extension id="hu.bme.mit.mdsd.packettracer.queries.Common_queries" point="org.eclipse.viatra.query.runtime.queryspecification">
    <group group="org.eclipse.viatra.query.runtime.extensibility.SingletonExtensionFactory:hu.bme.mit.mdsd.packettracer.queries.Common_queries" id="hu.bme.mit.mdsd.packettracer.queries.Common_queries">
      <query-specification fqn="hu.bme.mit.mdsd.packettracer.queries.hasIPAddress"/>
      <query-specification fqn="hu.bme.mit.mdsd.packettracer.queries.connectedWithConenction"/>
      <query-specification fqn="hu.bme.mit.mdsd.packettracer.queries.connected"/>
      <query-specification fqn="hu.bme.mit.mdsd.packettracer.queries.connectedByConnection"/>
      <query-specification fqn="hu.bme.mit.mdsd.packettracer.queries.connectedByDevice"/>
      <query-specification fqn="hu.bme.mit.mdsd.packettracer.queries.connectedDirectly"/>
      <query-specification fqn="hu.bme.mit.mdsd.packettracer.queries.connectedInterfaces"/>
      <query-specification fqn="hu.bme.mit.mdsd.packettracer.queries.connectedNodes"/>
      <query-specification fqn="hu.bme.mit.mdsd.packettracer.queries.connectedEndpoints"/>
      <query-specification fqn="hu.bme.mit.mdsd.packettracer.queries.connectedEndpointWithInterfaces"/>
      <query-specification fqn="hu.bme.mit.mdsd.packettracer.queries.connectedDevicesAndEndpoints"/>
    </group>
  </extension>
  <extension id="hu.bme.mit.mdsd.packettracer.queries.Derived_features" point="org.eclipse.viatra.query.runtime.queryspecification">
    <group group="org.eclipse.viatra.query.runtime.extensibility.SingletonExtensionFactory:hu.bme.mit.mdsd.packettracer.queries.Derived_features" id="hu.bme.mit.mdsd.packettracer.queries.Derived_features">
      <query-specification fqn="hu.bme.mit.mdsd.packettracer.queries.subnetwork"/>
      <query-specification fqn="hu.bme.mit.mdsd.packettracer.queries.controller"/>
      <query-specification fqn="hu.bme.mit.mdsd.packettracer.queries.connection"/>
    </group>
  </extension>
  <extension id="hu.bme.mit.mdsd.packettracer.queries.Model_constraints" point="org.eclipse.viatra.query.runtime.queryspecification">
    <group group="org.eclipse.viatra.query.runtime.extensibility.SingletonExtensionFactory:hu.bme.mit.mdsd.packettracer.queries.Model_constraints" id="hu.bme.mit.mdsd.packettracer.queries.Model_constraints">
      <query-specification fqn="hu.bme.mit.mdsd.packettracer.queries.wrongIPAddressFormat"/>
      <query-specification fqn="hu.bme.mit.mdsd.packettracer.queries.negativeDelay"/>
      <query-specification fqn="hu.bme.mit.mdsd.packettracer.queries.nonPositiveBandwith"/>
      <query-specification fqn="hu.bme.mit.mdsd.packettracer.queries.sameIPAddress"/>
      <query-specification fqn="hu.bme.mit.mdsd.packettracer.queries.wrongConnectorType"/>
      <query-specification fqn="hu.bme.mit.mdsd.packettracer.queries.connectedConnector"/>
      <query-specification fqn="hu.bme.mit.mdsd.packettracer.queries.multipleConnectorIsConnected"/>
      <query-specification fqn="hu.bme.mit.mdsd.packettracer.queries.ipAddressIsOutOfSubnetwork"/>
      <query-specification fqn="hu.bme.mit.mdsd.packettracer.queries.notReachableEndpoint"/>
      <query-specification fqn="hu.bme.mit.mdsd.packettracer.queries.notReachableNetworkDevice"/>
    </group>
  </extension>
</plugin>
