<?xml version="1.0" encoding="windows-1252"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.bme.hu/mit/mdsd/packettracer/text/GridDsl"
			class = "hu.bme.mit.mdsd.packettracer.text.gridDsl.GridDslPackage"
			genModel = "model/generated/GridDsl.genmodel" />
	</extension>
</plugin>
