<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="hu.bme.mit.mdsd.packettracer.design.Activator"
               id="hu.bme.mit.mdsd.packettracer.design"
	       name="packettracer">
    </component>
  </extension>
  <extension
        point="org.eclipse.sirius.externalJavaAction">
     <javaActions
           actionClass="hu.bme.mit.mdsd.packettracer.design.CreateNetworkInterface"
           id="hu.bme.mit.mdsd.packettracer.design.CreateNetworkInterface">
     </javaActions>
  </extension>
</plugin>
